@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');

$primary : #ff5100;
$secondary : #ff0055;


// General


a {
    outline: none;
}


// Nav


nav {
    border-top: $primary solid 5px;

    .navbar-brand {
        img {
            width: 150px;
        }
    }

    .toggler-button {
        img {
            width: 30px;
        }

    }

    .navbar-nav {

        .nav-link {
            color: black;

            font: {
                weight: 600;
                size: 15px;
            }

            &:hover {
                color: $primary;
                transition: .3s;
            }

        }

        .admin-btn {
            background-color: $primary;
            color: white;
            margin-left: 15px;

            &:hover {
                color: white;
            }
        }
    }
}



// Landing Title



.landing-title {
    .title {
        margin: 100px 0;

        font : {
            size: 60px;
            family: 'Open Sans', sans-serif;
            ;
            weight: 400;
        }
    }
}


// Searching Section

.search-filter {
    margin-bottom: 50px;

    form {
        padding-left: 20px;

        .form-control {
            &:focus {
                color: #495057;
                background-color: #fff;
                border-color: $primary;
                outline: 0;
                box-shadow: 0 0 0 0.1rem $primary;
            }

        }
    }

    .search-btn {
        background-color: $primary;
        color: white;
    }
}


.tags {

    ul {
        display: flex;
        padding: 0;
        justify-content: flex-end;

        li {
            list-style: none;
            margin-left: 10px;

            img {
                height: 10px;
                width: 10px;
                margin-left: 15px;
            }
        }
    }

    .btn {
        background-color: $secondary;
        color: white;
    }
}



// Add Card

.add-employees {
    background-color: $primary;
    transition: .4s;

    &:hover {
        background-color: $secondary;

        .add-employees-btn {
            height: 110px;
            width: 110px;
        }
    }

    .add-employees-btn {
        height: 80px;
        width: 80px;
        transition: .4s;
    }

}


// Employees Cards


.card {
    box-shadow: 1px 7px 27px #e9e9e9;
    border: none;
    height: 465px;


    .card-img-top {
        margin-top: 50px;

        img {
            width: 150px;
            justify-content: center;
            border-radius: 82%;
            height: 150px;
            object-fit: cover;
            display: flex;
        }
    }

    .card-title {
        text-align: center;
    }

    .card-subtitle {
        text-align: center;
        padding-bottom: 40px;
        color: $primary;
    }

    .card-text {
        padding-bottom: 40px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 600;


    }

    .card-buttons {
        display: flex;
        justify-content: center;

        .btn {
            background-color: $primary;
            color: white;
            width: 120px;
            margin: 5px;

            &:hover {
                background-color: $secondary;
                transition: .3s;
            }
        }

    }
}


// Footer


footer {
    background-color: rgb(39, 39, 39);
    margin-top: 100px;
    display: flex;
    align-items: center;

    .footer-logo {
        display: flex;
        margin: 40px 0;

        img {
            width: 200px;
        }
    }


    .social {
        align-content: center;
        margin: 40px 0;

        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            margin: 0;

            li {
                font-size: 40px;
                padding: 15px;
                color: white;
                transition: .4s;

                &:hover {
                    color: $secondary;
                    transition: .4s;
                }
            }
        }
    }

    h3 {
        text-align: center;
        font-size: 14px;
        color: white;
        margin: 20px 0;
    }

}



// Profil page



.profil-card {
    border-radius: 20px;
    margin: 100px 0;
    box-shadow: 1px 7px 27px #e9e9e9;
    border: none;
    // padding: 50px 15px;


    .profil-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom right, $primary, $secondary);
        color: white;
        padding: 50px 0;
        border-radius: 20px 20px 0 0;

        img {
            width: 150px;
            justify-content: center;
            border-radius: 82%;
            height: 150px;
            object-fit: cover;
            display: flex;
            transition: .4s;
        }

        .titles {
            padding-left: 70px;
            transition: .4;

            .profil-title {
                font-size: 30px;

                span {
                    font-weight: 700;
                }
            }

            .profil-subtitle {
                text-align: left;
                // color: $primary;
            }
        }

    }

    .profil-body {
        margin: 80px 0;

        ul {
            list-style: none;

            li {
                .title {
                    color: $primary;

                    font: {
                        weight: 600;
                        size: 18px;
                    }
                }
            }
        }
    }

    .edit-btn {
        display: flex;
        justify-content: flex-end;
        padding: 0 20px 20px 0;

        img {
            height: 50px;
            width: 50px;

        }
    }
}

.customClassForDropDown {
    height: 150px;
    overflow-y: auto;

    a {
        padding: 0;
    }
}


// Staff-form


.profil-creation {
    margin: 100px 0;

    .title {
        margin-bottom: 100px;
    }

    .staff-form {
        transition: .4s;

        .form-control {
            &:focus {
                color: #495057;
                background-color: #fff;
                border: $primary solid 2px;
                outline: 0;
                box-shadow: none;
                transition: .4s;
            }
        }

        label {
            font-size: 16px;
            font-weight: 600;
        }

        .btn {
            background-color: $primary;
            color: white;
            transition: .4s;

            &:hover {
                background-color: $secondary;
                transition: .4s;
            }
        }
    }
}





// Under-construction


.error-message {
    height: calc(100vh - 80px);

    .title {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 80px);
        font-size: 45px;
        color: #888;
        text-transform: uppercase;
    }
}

// Medias




@media (max-width: 768px) {

    .navbar-nav {
        text-align: center;
    }

    .tags {
        margin-top: 20px;

        ul {
            padding: 10px;
        }
    }

    .add-employees {
        height: 200px !important;
        transition: .4s;
    }

    .landing-title {
        .title {
            padding: 0 15px;
            font-size: 40px;
            margin: 80px 0;
            transition: .4s;

        }
    }

    .profil-body {
        margin-top: 40px !important;
        transition: .4s;

        ul {
            padding: 10px;
            transition: .4s;
        }
    }
}




@media (max-width: 576px) {
    footer {
        .footer-logo {
            justify-content: center;
            margin: 40px 0 0 0;
        }

        .social ul {
            justify-content: center;
            margin: 40px 0 0 0;
        }
    }

    .profil-header {
        padding: 50px 15px !important;
    }

}



@media (max-width: 992px) {
    .profil-card {
        .profil-header {
            .titles {
                padding-left: 40px !important;
                transition: .4s;

                .profil-title {
                    font-size: 20px;
                }
            }

            img {
                height: 120px;
                width: 120px;
                transition: .4s;

            }
        }

    }

}



@media (max-width: 1200px) {

    .tags {
        ul {
            display: flex;
            padding: 0;
            justify-content: flex-start;
            margin-top: 10px;

            li {
                list-style: none;
                margin-right: 10px;
                margin-left: 0;

            }

        }
    }


}